<h3>
Number of Bars
</h3>
<input type="text" id="num-bars">
<br> 
7 <input type="checkbox" id="seven-quality"> 
m <input type="checkbox" id="minor-quality"> 
maj7 <input type="checkbox" id="major-seven-quality">
m7 <input type="checkbox" id="minor-seven-quality">
9 <input type="checkbox" id="nine-quality">

<br>
<input type="submit" id="submit">

<div id="display" style="font-size: 50px !important;">
</div>

